@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Open+Sans:ital,wght@0,700;1,700&family=Pacifico&family=Roboto:wght@300&family=Ubuntu&display=swap');
body {
  background-color: #eee;
}
table {
  width: 70%;
  height: 50vh;
  border: 0.5px solid gray transparent;
  padding: 5px;
  text-align: center;
  margin: auto;
}
th {
  font-size: 1.5rem;
  color: rgba(165, 42, 42, 0.76);
}
tr {
  border: solid gray transparent;
  background-color: #eee;
}
tr :nth-child(even) {
  background-color: rgba(128, 128, 128, 0.514);
}

tr :nth-child(odd) {
  background-color: rgba(165, 71, 42, 0.342);
}
a {

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  font-family:'family dancing';
  color: rgba(165, 42, 42, 0.76);
}
form {
  padding: 5px;
  padding-bottom: 5px;
  margin: 1rem auto;
  width: 69%;
  height: 40vh;
  background-color: rgba(128, 128, 128, 0.514);
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(165, 42, 42, 0.76);
}
input {
  border-radius: 3px;
  outline: 2px solid rgba(165, 42, 42, 0.76);

  display: flex;
  margin: 1rem auto;
  width: 30%;
}
textarea {
  display: flex;
  margin: auto;
  width: 30%;
  height: 4rem;
  border-radius: 3px;
}
textarea:hover {
  outline: 2px solid rgba(165, 42, 42, 0.76);
}
.submit1 {
  width: 60px;
  border-radius: 0.5rem;
  color: red;
}
input:hover {
  outline: 2px solid white;
}
